{% extends 'base.html' %}

{% block content %}     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $.get("{%url 'wishlist:show_json' %}", function(json) {
            var tabel=[];
            $.each(json, function(index, hasil){ 
                var row = [];
                var fields = hasil.fields;
                row.push("<td>" + String(hasil.fields.nama_barang) + "</td>");
                row.push("<td>" + hasil.fields.harga_barang + "</td>");
                row.push("<td>" + hasil.fields.deskripsi + "</td>");
                tabel.push("<tr>" + row.join("") + "</tr>");
            });
            document.getElementById("list_barang").innerHTML = tables.join("");
        });
    });

    $("button").click(function(){
    var data;
    data = new FormData();
    $("#test").serialize()
    data.append( 'file', input.files[0] );
        $.ajax({
  type: "POST",
  url: "/wishlist/ajax/submit",
  data: $("#test").serialize(),
  dataType: "json",
  success: function(data){$.get("{%url 'wishlist:show_json' %}", function(json) {
            var tabel=[];
            $.each(json, function(index, hasil){ 
                var row = [];
                var fields = hasil.fields;
                row.push("<td>" + String(hasil.fields.nama_barang) + "</td>");
                row.push("<td>" + hasil.fields.harga_barang + "</td>");
                row.push("<td>" + hasil.fields.deskripsi + "</td>");
                tabel.push("<tr>" + row.join("") + "</tr>");
            });
            document.getElementById("list_barang").innerHTML = tables.join("");
        });}
});
    });
</script>
<nav class="navbar fixed-top navbar-light bg-light" >
    <form class="form-inline">
    <a class="navbar-brand" href="/wishlist">Home</a>
    <a class="navbar-brand" href="logout/">Logout</a>
    </form>
    <p>{{nama}}</p>
  </nav>
<h5>Nama: </h5>
<p>{{nama}}</p>

<form method="POST" action="" id="test">
    {% csrf_token %}
    <table>
        <tr>
            <td>Nama Barang: </td>
            <td><input type="text" name="nama_barang" placeholder="KinderJoy" class="form-control"></td>
        </tr>
        <tr>
            <td>Harga Barang: </td>
            <td><input type="text" name="harga_barang" placeholder="15000" class="form-control"></td>
        </tr>
        <tr>
            <td>Deskripsi: </td>
            <td><input type="text" name="harga_barang" placeholder="Mati uang kita" class="form-control"></td>
        </tr>
        <tr>
            <td><input class="btn login_btn" type="submit" value="submit"></td>
        </tr>
    </table>
</form>
<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
{% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
{% endfor %}

</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>

<button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
{% endblock content %}